{% extends 'layout.html'%}
{% block content %}
<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-12 my-5">
            <h1>name: <span class="text-success">{{name}}</span></h1>
            <h3>id: <span class="text-success">{{id}}</span></h3>
            <h3>accountId: <span class="text-success">{{accountId}}</span></h3>
            <h3>puuid: <span class="text-success">{{puuid}}</span></h3>
            <h3>profileIconId: <span class="text-success">{{profileIconId}}</span></h3>
            <h3>revisionDate: <span class="text-success">{{revisionDate}}</span></h3>
            <h3>summonerLevel: <span class="text-success">{{summonerLevel}}</span></h3>
            <h3>leagueId: <span class="text-success">{{leagueId}}</span></h3>
            <h3>queueType: <span class="text-success">{{queueType}}</span></h3>
            <h3>tier: <span class="text-success">{{tier}}</span></h3>
            <h3>rank: <span class="text-success">{{rank}}</span></h3>
            <h3>leaguePoints: <span class="text-success">{{leaguePoints}}</span></h3>
            <h3>wins: <span class="text-success">{{wins}}</span></h3>
            <h3>losses: <span class="text-success">{{losses}}</span></h3>
        </div>
    </div>
</div>
{% endblock %}