{% extends 'layout.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="/" class="btn btn-secondary m-2">Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-column my-2 text-center align-items-center">
            <div class="d-flex flex-column p-2 align-items-center">
                <img src="https://ddragon.leagueoflegends.com/cdn/12.19.1/img/profileicon/{{profileIconId}}.png" class="rounded float-start" alt="profileIcon" width="250" height="250">
                <div class="bg-secondary rounded mt-2 p-2 w-fit">{{summonerLevel}}</div>
            </div>
            <div class="px-2"><h1>{{name}}</h1></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 d-flex flex-column">
            <div class="border border-light rounded">
                <div class="text-center"><h2>{{queueTypeFlex}}</h2></div>
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="mx-2 h-100 w-100"><img src="{% static imagePathFlex %}" class="img-fluid" alt="tierIcon"></div>
                    <div class="d-flex flex-column mx-2 h-100 w-100 align-items-center justify-content-center">
                        <div class="d-flex flex-row">
                            <div class="px-1"><h2>{{tierFlex}}</h2></div>
                            <div class="px-1"><h2>{{rankFlex}}</h2></div>
                        </div>
                        <div>{{leaguePointsFlex}} LP</div>
                    </div>
                    <div class="d-flex flex-column mx-2 h-100 w-100 align-items-center justify-content-center">
                        <div class="d-flex flex-row">
                            <div class="px-1 text-success">W: {{winsFlex}}</div>
                            <div class="px-1 text-danger">L: {{lossesFlex}}</div>
                        </div>
                        <div class="text-muted">Win Rate {{winRateFlex}}%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex flex-column">
            <div class="border border-light rounded">
                <div class="text-center"><h2>{{queueTypeSolo}}</h2></div>
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div class="mx-2 h-100 w-100"><img src="{% static imagePathSolo %}" class="img-fluid" alt="tierIcon"></div>
                    <div class="d-flex flex-column mx-2 h-100 w-100 align-items-center justify-content-center">
                        <div class="d-flex flex-row">
                            <div class="px-1"><h2>{{tierSolo}}</h2></div>
                            <div class="px-1"><h2>{{rankSolo}}</h2></div>
                        </div>
                        <div>{{leaguePointsSolo}} LP</div>
                    </div>
                    <div class="d-flex flex-column mx-2 h-100 w-100 align-items-center justify-content-center">
                        <div class="d-flex flex-row">
                            <div class="px-1 text-success">W: {{winsSolo}}</div>
                            <div class="px-1 text-danger">L: {{lossesSolo}}</div>
                        </div>
                        <div class="text-muted">Win Rate {{winRateSolo}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <div class="border border-light rounded d-flex flex-column">
                <div class="text-center"><h2>Match history</h2></div>
                {% for match in matches %}
                {% if match.win == "Victory" %}
                <div class="d-flex flex-row justify-content-between border border-success rounded m-2 align-items-center">
                {% elif match.win == "Lose" %}
                <div class="d-flex flex-row justify-content-between border border-danger rounded m-2 align-items-center">
                {% else %}
                <div class="d-flex flex-row justify-content-between border border-light rounded m-2 align-items-center">
                {% endif %}
                    <div class="d-flex flex-column mx-4 text-center w-100">
                        <div><h1>{{match.win}}</h1></div>
                        <div>{{match.gameMode}}</div>
                    </div>
                    <div class="d-flex flex-row mx-4 text-center w-100 align-items-center my-2">
                        <div class="d-flex flex-column mx-4 text-center w-100 align-items-center my-2">
                            <div class="h-100"><img src="{{ match.championImagePath }}" class="img-fluid rounded-circle" alt="championIcon"></div>
                            <div class="bg-secondary rounded mt-2 p-2 w-fit">{{match.champLevel}}</div>
                        </div>
                        <div class="d-flex flex-column w-100 align-items-center m-2 h-100">
                            <div class="h-100 my-2"><img src="{{match.summoner1Id}}" class="img-fluid rounded-circle" alt="summonerIcon"></div>
                            <div class="h-100 my-2"><img src="{{match.summoner2Id}}" class="img-fluid rounded-circle" alt="summonerIcon"></div>
                        </div>
                    </div>
                    <div class="d-flex flex-column mx-4 text-center w-100 justify-content-center align-items-center">
                        <div class="d-flex flex-row">
                            {% for item in match.itemsPath %}
                            {% if item == 'empty' %}
                            {% load static %}
                            <div><img src="{% static 'images/Emblem_empty.png' %}" class="img-fluid" alt="itemIcon" width="50" height="50"></div>
                            {% else %}
                            <div><img src="{{ item }}" class="img-fluid" alt="itemIcon" width="50" height="50"></div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center mt-4">
                            <div class="d-flex flex-row mx-4">
                                <div><h1>{{match.kills}}</h1></div>
                                <div><h1>/</h1></div>
                                <div><h1>{{match.deaths}}</h1></div>
                                <div><h1>/</h1></div>
                                <div><h1>{{match.assists}}</h1></div>
                            </div>
                            <div class="mt-2 mx-3 text-muted"><h4>{{match.totalMinionsKilled}}</h4></div>
                            <div><img src="{% static 'images/elf.png' %}" class="img-fluid m-1" alt="csIcon" width="25" height="25"></div>
                            <div class="mt-2 mx-3 text-muted"><h4>{{match.goldEarned}}</h4></div>
                            <div><img src="{% static 'images/coins.png' %}" class="img-fluid m-1" alt="coinsIcon" width="25" height="25"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}